<div class="footer">

    
        <a href="https://github.com/nawelb" class="lien-icone ">
            <img class="portfolio" src="../../assets/portfolio.png" >
        </a>
    

<div class="logos">
    <a href="https://github.com/nawelb" class="lien-icone">
        <img src="../../assets/github-icon.png" >
    </a>

    <a href="http://www.linkedin.com/in/nawel-berqouch-607a3892" target="_blank" class="lien-icone">
            <img src="../../assets/free-linkedin-logo.png" >
        
    </a>
</div>


</div>